.swipper_slide{
    height: 100%;
    height: 375px !important;   
}
.carousel_panel{
    max-width: 1327px;
    width: 90%;
    margin: auto;
    margin-top: 31px;
    /* height: 500px; */
    position: relative; 
}
.custom_pagination{
    position: absolute;
    z-index: 12;
  top: 45%;
  width: 95%;
  left: 2.5%;
  display: flex;align-items: center;
  justify-content: space-between;
}
.mini_cantroll_bar{
    background: #F4F9FC;
height: 60px;
display: flex;justify-content: center;
align-items: center;
gap: 54px;
font-family: Arial;
font-size: 14px;
font-weight: 400;
line-height: 16.1px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;
overflow-y: auto;
}


@media (max-width:991px){
    .swipper_slide{
        height: 100%;
        height: 205px !important;   
    }}
    @media (max-width:400px){
        .swipper_slide{
            height: 100%;
            height: 105px !important;   
        }
    .carousel_panel{
        max-width: 1327px;
        width: 90%;
        margin: auto;
        margin-top: 31px;
        height: 150px;
        position: relative; 
    }
    .mini_cantroll_bar{
        background: #F4F9FC;
    height: 60px;
    display: flex;justify-content: center;
    align-items: center;
    gap: 14px;}
    .custom_pagination{
        position: absolute;
        z-index: 12;
      top: 30%;
      width: 95%;
      left: 2.5%;
      display: flex;align-items: center;
      justify-content: space-between;
    }
}








.reklama_link{
    width: 90%;
    max-width: 1327px;
    margin: auto;
    background: #0E415A;
display: grid;
align-items: center;
height: 90px;
margin-top: 61px;
margin-bottom: 60px;
grid-template-columns: 1fr 1.2fr 1fr;
}
.reklama_link_first{
    display: flex;
    justify-content: center;
    font-family: Arial;
font-size: 40px;
font-weight: 400;
line-height: 46px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: white;
border-right: 2px solid white;
 
    align-items: center;
}
.reklama_link_second{
    display: flex;
    justify-content: center; align-items: center;
    font-family: Arial;
font-size: 16px;
font-weight: 400;
line-height: 18.4px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: white;
width: 90%;
margin: auto    ;
}
.reklama_link_button{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0E415A;
    border: 1px solid #FFFFFF;
    border-radius: 40px;
height: 40px;
width: 90%;
margin: auto;
font-family: Arial;
font-size: 16px;
font-weight: 400;
line-height: 18.4px;
letter-spacing: 0.04em;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: white;
cursor: pointer;

}
@media(max-width:991px){
    .reklama_link_second{
        display: none;
    }
    .reklama_link{
        display: grid;
        grid-template-columns: 0.8fr 1fr;
        height: 74px;
        align-items: center !important;
    }
    .reklama_link_button{
        font-size: 12px;
        height: 34px;
    }
    .reklama_link_first{
        font-family: Arial;
font-size: 16px;
font-weight: 400;
line-height: 18.4px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;

    }
}




.hompage_category_title{
    font-family: Arial;
font-size: 24px;
font-weight: 700;
line-height: 27.6px;
letter-spacing: 0.04em;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: black;
margin-bottom: 27px;
}

.hompage_category_item_1{
    background: #7E919D;

    display: flex;flex-direction: column;
    align-items: start;
    justify-content: space-around;
}
.hompage_category_item_1{
    width: 100%;
}
.hompage_category h3{
    font-family: Arial;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    
    letter-spacing: 0.04em;
    padding: 20px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    
}
.hompage_category{
   max-width: 1327px;
   width: 90%;
   margin: auto;
   overflow-y: auto;
}
.hompage_category_item_2{
    display: grid;
    gap: 20px;
}
.hompage_category_items{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 2fr;
    gap: 20px;
    overflow-y: auto;
}
.hompage_category_item_2_1{
    background: #BBE7E2;
 display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.hompage_category_item_2_1 img{
    width: 80%;
    margin-left: 15%;
}
.hompage_category_item_2_2{
    background: #BCD7E0;
   display: flex;
   justify-content: space-around;
   flex-direction: column;

}
.hompage_category_item_2_2 img{
width: 80%;
}
.hompage_category_item_3{
    background: #BCD7E0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.hompage_category_item_3 h3{
text-wrap: wrap;
width: 100px;
}
.hompage_category_item_3 img{
width: 80%;
margin-left: 10%;
}
.hompage_category_item_4_2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.hompage_category_item_4{
    gap: 20px;
    display: grid;
}
.hompage_category_item_4_1{
    display: flex;
    background: #ADE6F5;

}
.hompage_category_item_4_1 h3{
width: 200px;
}
.hompage_category_item_4_1 img{
    width: 120px;
    height: auto;
    scale: 1.2;
    }
.hompage_category_item_4_2_2{
    background: #7E919D;
display: flex;
justify-content: space-around;
flex-direction: column;
}
.hompage_category_item_4_2_2 img{
width: 80%;
margin-left: 10%;
}
.hompage_category_item_4_2_1{
    background: #BBE7E2;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.hompage_category_item_4_2_1 img{
width: 95%;
margin-left: 2%;
scale: 1.1;
height: auto !important;
}
.barcha_homiylar{
    width: 90%;
    max-width: 1327px;
    margin: auto;
    position: relative;
}
